/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {

}

article {

}

h1 {

}

p img {
  width: 1rem;
}

img {
  width: 50rem;
  max-width: 100%;
}
